<header class="o-ft-header" data-o-component="ft-header" data-o-version="0.4.1">
  <div class="o-ft-header__topbar">
    <div class="o-ft-header__topbar__content">
      {{o-wrapper.title}}
      {{#o-wrapper.topbarItems}}
          {{{o-wrapper.topbarItems}}}
      {{/o-wrapper.topbarItems}}

      {{ > o-wrapper#!topbaritems }}

      {{ > o-inner1/main}}

      {{ > o-wrapper/partial}}
    </div>
  </div>
</header>