<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	<title>{{page.title}} - FT.com</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel='stylesheet' href='/css/{{templateName}}.{{page.version}}.min.css' />
	<script src="/js/modernizr-custom.js"></script>
	<style>section {padding-left: 10px;}</style>
</head>
<body>
	<h2>Importing the main o-wrapper template</h2>
	<section>
		{{> origami-templates/o-wrapper/main.mustache}}
	</section>
	<h2>Importing a template provided by the product itself</h2>
	<section>
		{{> ./not-bower/template.mustache}}
	</section>
  <h2>Predefining what gets injected into another module's dynamic slots from within a module</h2>
  <section>
     {{ > origami-templates/o-superwrapper/main.mustache}}
  </section>    
</body>
</html>
