<header class="o-ft-header" data-o-component="ft-header" data-o-version="0.4.1">
  <div class="o-ft-header__topbar">
    <div class="o-ft-header__topbar__content">

      {{#o-wrapper.topbarItems}}
        <div class="o-ft-header__topbar__items">
          {{{o-wrapper.topbarItems}}}
        </div>
      {{/o-wrapper.topbarItems}}

      <p>content from o-inner1 {{o-inner1.title}}</p>
<p>content from o-inner2 {{o-inner2.title}}</p>
inner1 partial {{o-inner1.additional}}

      wrapper partial {{o-wrapper.additional}}
    </div>
  </div>
</header>