<header class="o-ft-header" data-o-component="ft-header" data-o-version="0.4.1">
  <div class="o-ft-header__topbar">
    <div class="o-ft-header__topbar__content">
      {{o-wrapper.title}}
      {{#o-wrapper.topbarItems}}
          {{{o-wrapper.topbarItems}}}
      {{/o-wrapper.topbarItems}}

      <p>cdynamic partial inner3 {{o-inner3.title}}</p>
      other template (dynamic)

      <p>content from o-inner1 {{o-inner1.title}}</p>
<p>content from o-inner2 {{o-inner2.title}}</p>
<p>inner1 partial {{o-inner1.additional}}</p>

      <p>wrapper partial {{o-wrapper.additional}}</p>
    </div>
  </div>
</header>