<header class="o-ft-header" data-o-component="ft-header" data-o-version="0.4.1">
  <div class="o-ft-header__topbar">
    <div class="o-ft-header__topbar__content">
      <h1>Wrapper's title: {{o-wrapper.title}}</h1>
      
      <h2>Injecting content in a dynamic partial which config sets as being o-inner3/main</h2>
      <section>
        <h2>Injected content from o-inner3</h2>
<section>
	<p>{{o-inner3.title}}</p>
</section>

      </section>
      <h2>Injecting content in a dynamic partial which config sets as being provided by the product</h2>
      <section>
        <h2>other template (dynamic)</h2>
      </section>
       <h2>Missing content</h2>
      <section>
        
      </section>
      <h2>Injecting content from another module's template</h2>
      <section>
        <h2>Injected content from o-inner1 main template</h2>
<section>
	<p>{{o-inner1.title}}</p>
	<h2>Injected content from o-inner2</h2>
	<section>
		<p><h2>Injected content from o-inner2</h2>
<section>
	<p>{{o-inner2.title}}</p>
	<p><h2>This is a simple html file<h2></p>
</section>
</p>
	</section>
	<h2>Injected content from o-inner1/partials/partial</h2>
	<section>
		<p><p>inner1 partial {{o-inner1.additional}}</p></p>
	</section>	
</section>


      </section>
      <h2>Injecting content from the wrapper module's own partial</h2>
      <section>
         <p>wrapper partial {{o-wrapper.additional}}</p>
      </section>
      

     
    </div>
  </div>
</header>