<h2>wrapper 2 items/h2>
<section>
  {{o-wrapper2 !> items }}
</section>
<h2>wrapper 2 moreitems/h2>
<section>
  {{o-wrapper2 !> moreitems }}
</section>
<h2>wrapper 2 evenmoreitems/h2>
<section>
  {{o-wrapper2 !> evenmoreitems }}
</section>