<h2>wrapper 2 items/h2>
<section>
  <h2>Injected content from o-inner1 main template</h2>
<section>
	<p>{{o-inner1.title}}</p>
	<h2>Injected content from o-inner2</h2>
	<section>
		<p><h2>Injected content from o-inner2</h2>
<section>
	<p>{{o-inner2.title}}</p>
	<p><h2>This is a simple html file<h2></p>
</section>
</p>
	</section>
	<h2>Injected content from o-inner1/partials/partial</h2>
	<section>
		<p><p>inner1 partial {{o-inner1.additional}}</p></p>
	</section>	
</section>


</section>
<h2>wrapper 2 moreitems/h2>
<section>
  <h2>Injected content from o-inner2</h2>
<section>
	<p>{{o-inner2.title}}</p>
	<p><h2>This is a simple html file<h2></p>
</section>

</section>
<h2>wrapper 2 evenmoreitems/h2>
<section>
  
</section>