<a href="https://registration.ft.com/registration/barrier/login" 
	class="o-ft-signin o-ft-signin--anonymous" 
	data-o-dialog='{"type": "dropdown", "src": ".panel-signin", "classes": "top-right"}'>
anonymous
</a> 