<h2>Injected content from o-inner1 main template</h2>
<section>
	<p>{{o-inner1.title}}</p>
	<h2>Injected content from o-inner2</h2>
	<section>
		<p>{{ > o-inner2/main }}</p>
	</section>
	<h2>Injected content from o-inner1/partials/partial</h2>
	<section>
		<p>{{ > o-inner1/partials/partial}}</p>
	</section>	
</section>

